<button
  class="btn"
  id="button"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
<i class="fa-solid fa-bars fa-lg"></i>
</button>
<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-body">
  <a href="#home"><p>Home</p> </a>
  <a href="#acerca-de"><p>Acerca de</p></a>
  <a href="#addEducacion"><p>Educacion</p></a>
  <a href="#aptitudes" ><p>Skills</p></a>
</div>
</div>