#button{
    position: fixed;
}

i{
    color: rgb(118, 118, 118);
    font-size:1.5rem;
}

.offcanvas{
    margin-top:4rem;
    background-color: rgba(0, 0, 0, 0.523);
    width: 150px;
}
p{
    font-size:1.1rem;
    font-weight: 500;
}
.offcanvas-body{
    margin-top: 4rem;
}

a{
    text-decoration: none;
    color: white;
}
a:hover p{
    color:rgba(216, 216, 216, 0.633);
    font-size: 1.3rem;
}
a:active p{
    color:rgba(219, 219, 219, 0.831);
    font-weight: 700;
}