#button{
    position: fixed;
    margin-top: 4rem;
}

i{
    color: rgb(118, 118, 118);
    font-size:1.5rem;
}

.offcanvas{
    margin-top:4rem;
    background-color: rgba(0, 0, 0, 0.523);
    width: 170px;
}
p{
    font-size:1.1rem;
    font-weight: 500;
}
.offcanvas-body{
    margin-top: 4rem;
}
#icono{
    margin-right: 0.2rem;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover p, a:hover #icono{
    color:rgba(216, 216, 216, 0.633);
    font-size: 1.3rem;
}
a:active p{
    color:rgba(219, 219, 219, 0.831);
    font-weight: 700;
}








@media (max-width: 600px) {
    .offcanvas{
        margin:3.5rem 0 0 0;
        background-color: rgba(0, 0, 0, 0.523);
        width: 70px;
    }
    a:hover p{
        color:rgba(216, 216, 216, 0.633);
        font-size: 0.9rem;
    }
    p{
        font-size:.6rem;
        text-align: center;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: 1rem 0;
    }
    .offcanvas-body{
        padding: 0;
    }
}