<h1>Soft and hard skills</h1>
<div id="aptitudes">
    <mat-progress-spinner [value]="ingles" diameter="200" strokeWidth="25"></mat-progress-spinner>
    <div id="texto">INGLES <br> &nbsp;&nbsp;&nbsp; {{ingles}}% </div>
    <mat-progress-spinner value="30" diameter="200" strokeWidth="25"></mat-progress-spinner>
    <div id="texto">RESPONSABILIDAD</div>
    <mat-progress-spinner value="60" diameter="200" strokeWidth="25"></mat-progress-spinner>
    <div id="texto">COLLABORATION</div>
</div>
<div id="aptitudes">
    <mat-progress-spinner value="90" diameter="200" strokeWidth="25" color="accent"></mat-progress-spinner>
    <div id="texto">teamwork </div>
    <mat-progress-spinner value="30" diameter="200" strokeWidth="25" color="accent"></mat-progress-spinner>
    <div id="texto">self-starter</div>
    <mat-progress-spinner value="60" diameter="200" strokeWidth="25" color="accent"></mat-progress-spinner>
    <div id="texto">lifelong learning</div>
</div>
<p>*Los valores son estimativos.</p>


    