#container{
    height: 90vh;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
}
h1{
    display: flex;
    justify-content:center;
    font-size:3rem;
    margin: 3rem auto;
    }
#texto{
    position: relative;
    top: 0.5rem;
    left: -8.2rem;
    font-size:1.3rem;
    font-weight: 500;
}
#texto2{
    position: relative;
    top: 0.5rem;
    left: -8.7rem;
    font-size:1.3rem;
    font-weight: 500;
}

#softSkills, #hardSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
#softSkills{
    margin-left: 1.3rem;
}

p{ 
    display:flex;
    justify-content: center;
}
#texto2.selfStarter{
    position: relative;
    left: -9.3rem;
}