body{
    display: grid;
} 

#titleEducacion{
    font-size:3rem;
    text-align: center;
    margin-bottom: 3rem;
}

#addEducacion{
    margin: 3rem 0;
    padding-top: 4rem;
}
#card-educacion{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;    
}
#eduCard{
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.4rem;
    background-color: rgba(162, 162, 162, 0.185);
    width: 31rem;
}
#picEdu{
    display: flex;

}
#img-educacion{
    height:20rem;
    width: 30rem;
    background-size: cover;
    margin: 0 auto;   
}

#titulo-edu{
    font-size: 1.5rem;
    padding:1rem;
    display: flex;
    text-align: center;
    justify-content:center;
    font-weight: 600;
    background-color: rgba(148, 148, 148, 0.596);
    height: 4rem;
    align-items: center;
}
#fecha-edu{
    margin-bottom: 0.5rem;
    display: flex;
    padding-top: 0.5rem;
    justify-content:center;
}
#desc-edu{
    width:100%;
    text-align: center;
    padding:1rem;
    font-size: 1rem;
}
#addEducationModal, #editEducationModal, #deleteEducationModal{
    background-color: rgba(0, 0, 0, 0.307);
    font-weight: 700;
    color:white;
}
.modal-content{
    background: rgb(78,78,78);
    background: linear-gradient(253deg, rgba(24, 24, 24, 0.794) 0%, rgba(100, 100, 100, 0.789) 100%);
    border-color: rgba(95, 95, 95, 0.599);
    border-width: 0.2rem;

}
.modal-header{
    background: rgba(0, 71, 212, 0.551);
    padding-bottom: 2rem;
    background: linear-gradient(253deg, rgba(71, 114, 201, 0.574rgba(6, 33, 154, 0.614),154,1) 60%);
}
.modal-title{
    font-size: 1.2rem;
    font-weight: 500;
}
input{
    background: rgba(255, 255, 255, 0.783);
    background: linear-gradient(253deg, rgba(71, 114, 201, 0.574rgba(6, 33, 154, 0.614),154,1) 60%);
    color:rgb(0, 0, 0);
}






@media (max-width:1200px){
    #eduCard{
        border-radius: 1rem;
        margin: 2rem;
        padding: 0.4rem;
        background-color: rgba(162, 162, 162, 0.185);
        width: 23rem;
    }
    #picEdu{
        display: flex;
    
    }
    #img-educacion{
        height:14.6rem;
        width: 22rem;
        background-size: cover;
        margin: 0 auto;   
    }
 }



 @media (max-width:918px){
    #eduCard{
        border-radius: 1rem;
        margin: 2rem;
        padding: 0.4rem;
        background-color: rgba(162, 162, 162, 0.185);
        width: 18rem;
    }
    #picEdu{
        display: flex;
    
    }
    #img-educacion{
        height:11.3rem;
        width: 17rem;
        background-size: cover;
        margin: 0 auto;   
    }
 }




 @media (max-width:716px){
    #eduCard{
        margin: 1rem auto;
        border-radius: 1rem;
        background-color: rgba(162, 162, 162, 0.185);
        width: 80vw;
    }
    #card-educacion{
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        justify-content: center;
    }
 }
