<div id="redes-sociales">
    
        <img src="../../../assets/APlogo.png" alt="Logo de ArgentinaPrograma" id="APlogo">
    

    <nav>
        <li id="redes-sociales">
            <ul> <a href="https://www.facebook.com/Emiliano.Gutierrez4"> <img src="../../../assets/facebook.png" alt="Logo de Facebook" id="facebook"> </a> </ul>
            <ul> <a href="https://www.github.com/emilianog4"> <img src="../../../assets/github.png" alt="Logo de GitHub" id="github"> </a> </ul>
            <ul> <a href="https://www.instagram.com/emiliano.gutierrez4"> <img src="../../../assets/instagram.png" alt="Logo de Instagram" id="instagram"> </a> </ul>
            <ul> <a href="https://www.linkedin.com/in/emiliano-gutierrez-a36127239/"> <img src="../../../assets/linkedin.png" alt="Logo de Linkedin" id="linkedin"> </a> </ul>
        </li>    
    </nav>
</div>