.container{
    height: 90vh;
    width: 100vw;
}
h1{
    display:flex;
    justify-content:center;
    text-align: center;
    margin-top:16rem;
    letter-spacing:-.2rem;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}

h2{
    display:flex;
    justify-content:center;
    text-align: center;
    letter-spacing:.4rem;
    margin-top:4rem;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}

@media (max-width: 768px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.8rem;
    }
}
@media (max-width: 516px){
    h1{
        font-size: 3rem;
        letter-spacing:0;
        
    }
    h2{
        font-size: 1.2rem;
    }
}