*{
    background: var(--lightColor);
    color: var(--lightText);
}
.form-check, .form-switch{
    margin-top: 5rem;
    font-size:1rem;
    margin-left: 95%;
    position: fixed;
}



@media (max-width: 1200px){
    .form-check, .form-switch{
    margin-left: 90%;
    }
}

@media (max-width: 576px){
    .form-check, .form-switch{
        margin-left: 85%;
        }
}

@media (max-width: 438px){
    .form-check, .form-switch{
        margin-left: 80%;
        }
}