  <mat-toolbar color="primary">
    <img src="../../../assets/APlogo.png" alt="Logo de ArgentinaPrograma" id="APlogo">
  
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="icon-button with facebook icon">
      <mat-icon><a href="https://www.facebook.com/Emiliano.Gutierrez4"> <img src="../../../assets/facebook.png" alt="Logo de Facebook" id="facebook"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with instagram icon">
      <mat-icon><a href="https://www.instagram.com/emiliano.gutierrez4"> <img src="../../../assets/instagram.png" alt="Logo de Instagram" id="instagram"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with github icon">
      <mat-icon><a href="https://www.github.com/emilianog4"> <img src="../../../assets/github.png" alt="Logo de GitHub" id="github"> </a> </mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with linkedin icon">
      <mat-icon><a href="https://www.linkedin.com/in/emiliano-gutierrez-a36127239/"> <img src="../../../assets/linkedin.png" alt="Logo de Linkedin" id="linkedin"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with login icon">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>