#APlogo{
  margin: 0;
  padding: 0;
  width: 15%;
}
#facebook, #instagram, #github, #linkedin{
  width: 100%;
  padding-bottom: 1rem;
}
#login, #logout{
  width: 6%;
}
*{
  font-size: 1rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: 4;
}
#arriba{
  background-color: rgba(0, 0, 0, 0.502) !important;
}

