  <mat-toolbar color="primary" id="arriba">
    <a href="/portfolio"><img src="../../../assets/APlogo.png" alt="Logo de ArgentinaPrograma" id="APlogo"></a>
  
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="icon-button with facebook icon" title="Facebook">
      <mat-icon><a href="https://www.facebook.com/Emiliano.Gutierrez4" target="_blank"> <img src="../../../assets/facebook.png" alt="Logo de Facebook" id="facebook"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with instagram icon" title="Instagram">
      <mat-icon><a href="https://www.instagram.com/emiliano.gutierrez4" target="_blank"> <img src="../../../assets/instagram.png" alt="Logo de Instagram" id="instagram"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with github icon" title="GitHub">
      <mat-icon><a href="https://www.github.com/emilianog4" target="_blank"> <img src="../../../assets/github.png" alt="Logo de GitHub" id="github"> </a> </mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with linkedin icon" title="LinkedIn">
      <mat-icon><a href="https://www.linkedin.com/in/emiliano-gutierrez-a36127239/"> <img src="../../../assets/linkedin.png" alt="Logo de Linkedin" id="linkedin"> </a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with login icon" *ngIf="!isLogged" routerLink="/login" title="Login" id="login">
      <mat-icon>login</mat-icon> Iniciar Sesion
    </button>
    <button mat-icon-button class="example-icon" aria-label="icon-button with login icon" *ngIf="isLogged" (click)="onLogOut()" title="Log Out" id="logout">
      <mat-icon>logout</mat-icon>  Cerrar Sesion
    </button>
  </mat-toolbar>