#APlogo{
  margin: 0;
  padding: 0;
  width: 8.5rem;
}
#facebook, #instagram, #github, #linkedin{
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
}
#login, #logout{
  display: flex;
  width: 6%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: 4;
}
#arriba{
  background-color: rgba(0, 0, 0, 0.502) !important;
}
@media (max-width: 1680px){
  #is{
    display: none;
  }
  #APlogo{
    width: 8rem;
  }
}
