
#acerca-de{
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 1.2rem;
    height:90vh;
    align-items: center;
}
#title{
    font-size:3rem;
    text-align: center;
}
#card1, #foto{
    height:30vh;
}
#card2{
    width: 30%;
    height:30vh;
    text-align: center;
}
p{ 
    text-align: justify;
    padding-top: 0.3rem;
    margin: 0.8rem;
}
#name{ 
    margin: 0;
    padding-top: 0.5rem;
}

#name, h2{
    background-color: rgba(105, 105, 105, 0.502);
    font-weight: 900;
}

h2{
    padding-bottom:0.6rem;
}